#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.HeaderImg {
  max-height: 20vh;
}

input {
  width: 30vh;
  height: 30px;
}

.CharactersSection {
  margin-top: 30px;
}