.CharacterList {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Cuatro columnas iguales */
    gap: 30px;
}

.DetailSection {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .back {
        background-color: aqua;
    }
}